*{box-sizing: border-box;}
.container{
    width: 50%;
    margin: auto;
    background-color: brown;
    color: white;
    padding: 10px;
}
h1{
    text-align: center;
}
main{
    padding: 10px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.section1{
    width: 48%;
    background-color: aqua;
    padding: 10px;
}
.section2{
    width: 48%;
    background-color: rgb(15, 217, 32);
    padding: 10px;
}